<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Alterar cliente</h1>
            <hr>
            <div class="card-body">
                <form action="/clientes/update/<%= cliente.id %>" method="POST">
                    <label for="nome">Nome do cliente:</label>
                    <input type="text" name="nome" placeholder="Insira o nome do cliente" class="form-control" value="<%= cliente.nome %>" required>
                    <label for="cpf">CPF do cliente:</label>
                    <input type="text" name="cpf" value="<%= cliente.cpf %>" placeholder="Insira o CPF do cliente" class="form-control" required>
                    <label for="endereco">Endereço do cliente:</label>
                    <input type="text" name="endereco" placeholder="Insira o endereço do cliente" class="form-control" value="<%= cliente.endereco %>" required>
                    <input type="hidden" name="id" value="<%= cliente.id %>">
                    <br>
                    <input type="submit" value="Alterar" class="btn btn-warning" onclick="return confirm('Deseja alterar o cliente <%= cliente.nome %>?')">
                    <hr>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include ('partials/footer.ejs') %>